
.creature1{
    --start-width: 2%;
    --end-width: 10%;
    --end-aspect-ratio: 1/2;
    --start-top: 49vh;
    --start-left: 49%;
    --middle-top: 85vh;
    --end-top: 70vh;
    --end-left:45%;
    position: fixed;
    width: var(--end-width);
    aspect-ratio: var(--end-aspect-ratio);
    top: var(--end-top);
    left: var(--end-left);
    background-color: yellowgreen;
    animation-name: creatureOpeningAnimation;
    animation-duration: 1s;
}
.creature2{
    --start-width: 2%;
    --end-width: 8%;
    --end-aspect-ratio: 1/2;
    --start-top: 49vh;
    --start-left: 39%;
    --middle-top: 87vh;
    --end-top: 72vh;
    --end-left:36%;
    position: fixed;
    width: var(--end-width);
    aspect-ratio: var(--end-aspect-ratio);
    top: var(--end-top);
    left: var(--end-left);
    background-color: blueviolet;
    animation-name: creatureOpeningAnimation;
    animation-duration: 1s;
}
.creature .eyeSocket.left{
    position: absolute;
    border-radius: 50%;
    width: 35%;
    aspect-ratio: 1 / 1;
    left: 12.5%;
    top: 5%;
}
.creature .eyeSocket.right{
    position: absolute;
    border-radius: 50%;
    width: 35%;
    aspect-ratio: 1 / 1;
    left: 52.5%;
    top: 5%;
}
.creature .openEye{
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}
.creature .iris{
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    top: 25%;
    left: 25%;
    background-color: black;
}
.creature .mouth{
    transition: all 0.1s ease-in-out;
}
.creature .openMouth{
    position: absolute;
    width: 30%;
    aspect-ratio: 1/0.25;
    background-color: black;
    top: 25%;
    left: 35%;
}
.creature .centralPoint{
    position: absolute;
    width: 0%;
    left: 50%;
    aspect-ratio: 1 / 1;
    top: 14%;
}
.creature *{
    animation-name: creatureInternalsOpeningAnimation;
    animation-duration: 1s;
}
.closedEye{
    position: absolute;
    border-radius: 0%;
    width: 100%;
    height: 10%;
    top: 45%;
    background-color: black;
}
.closedMouth{
    position: absolute;
    width: 15%;
    aspect-ratio: 1/1;
    background-color: black;
    top: 25%;
    left: 42.5%;
    border-radius: 50%;
}
@keyframes creatureOpeningAnimation {
    0% {
        width: var(--start-width);
        aspect-ratio: 1/1;
        top: var(--start-top);
        left:var(--start-left);
        border-radius: 50%;
    }
    70% {
        aspect-ratio: 1/1;
        top: var(--middle-top);
    }
    90%{
        width: var(--end-width);
        aspect-ratio: 1/1;
        top: var(--end-top);
        left: var(--end-left);
        border-radius: 50%;
    }
    100%{
        aspect-ratio: var(--end-aspect-ratio);
        border-radius: 0%;
    }
}
@keyframes creatureInternalsOpeningAnimation {
    0% {
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}